@{
    Layout = null;
}

<title>Acceso Denegado</title>
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/site.js"></script>
</environment>

<div class="acceso-denegado">
    <img src="~/images/AccesoDenegado.jpeg" />
    <button onclick="history.back()">Volver atrás</button>
</div>