USE [master]
GO
/****** Object:  Database [LU]    Script Date: 1 jun. 2018 12:53:10 ******/
CREATE DATABASE [LU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LU]
GO
USE [LU]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 1 jun. 2018 12:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](8) NOT NULL UNIQUE,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correlativas]    Script Date: 1 jun. 2018 12:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correlativas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Materia_ppal] [int] NOT NULL,
	[Materia_correlativa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 1 jun. 2018 12:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [nvarchar](10) NOT NULL,
	[Turno] [nvarchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriaAlumno]    Script Date: 1 jun. 2018 12:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriaAlumno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlumnoId] [int] NOT NULL,
	[MateriaHorarioId] [int] NOT NULL,
	[Nota] [smallint] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriaHorarios]    Script Date: 1 jun. 2018 12:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriaHorarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MateriaId] [int] NOT NULL,
	[HorarioId] [int] NOT NULL,
 CONSTRAINT [PK_MateriaHorarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 1 jun. 2018 12:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguidores]    Script Date: 1 jun. 2018 12:53:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguidores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlumnoId] [int] NOT NULL,
	[SeguidoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Correlativas]  WITH CHECK ADD  CONSTRAINT [FK_Correlativas_Materias] FOREIGN KEY([Materia_ppal])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[Correlativas] CHECK CONSTRAINT [FK_Correlativas_Materias]
GO
ALTER TABLE [dbo].[Correlativas]  WITH CHECK ADD  CONSTRAINT [FK_Correlativas_Materias1] FOREIGN KEY([Materia_correlativa])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[Correlativas] CHECK CONSTRAINT [FK_Correlativas_Materias1]
GO
ALTER TABLE [dbo].[MateriaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MateriaAlumno_Alumnos] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Alumnos] ([Id])
GO
ALTER TABLE [dbo].[MateriaAlumno] CHECK CONSTRAINT [FK_MateriaAlumno_Alumnos]
GO
ALTER TABLE [dbo].[MateriaAlumno]  WITH CHECK ADD  CONSTRAINT [FK_MateriaAlumno_MateriaHorarios] FOREIGN KEY([MateriaHorarioId])
REFERENCES [dbo].[MateriaHorarios] ([Id])
GO
ALTER TABLE [dbo].[MateriaAlumno] CHECK CONSTRAINT [FK_MateriaAlumno_MateriaHorarios]
GO
ALTER TABLE [dbo].[MateriaHorarios]  WITH CHECK ADD  CONSTRAINT [FK_MateriaHorarios_Horarios] FOREIGN KEY([HorarioId])
REFERENCES [dbo].[Horarios] ([Id])
GO
ALTER TABLE [dbo].[MateriaHorarios] CHECK CONSTRAINT [FK_MateriaHorarios_Horarios]
GO
ALTER TABLE [dbo].[MateriaHorarios]  WITH CHECK ADD  CONSTRAINT [FK_MateriaHorarios_Materias] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[MateriaHorarios] CHECK CONSTRAINT [FK_MateriaHorarios_Materias]
GO
ALTER TABLE [dbo].[Seguidores]  WITH CHECK ADD  CONSTRAINT [FK_Seguidores_Alumnos] FOREIGN KEY([SeguidoId])
REFERENCES [dbo].[Alumnos] ([Id])
GO
ALTER TABLE [dbo].[Seguidores] CHECK CONSTRAINT [FK_Seguidores_Alumnos]
GO
ALTER TABLE [dbo].[Seguidores]  WITH CHECK ADD  CONSTRAINT [FK_Seguidores_Alumnos1] FOREIGN KEY([AlumnoId])
REFERENCES [dbo].[Alumnos] ([Id])
GO
ALTER TABLE [dbo].[Seguidores] CHECK CONSTRAINT [FK_Seguidores_Alumnos1]
GO
USE [master]
GO
